<app-home-dashboard></app-home-dashboard>
<body>
    <div class="about-section">
        <div class="inner-container">
            <h1 style="color: white;">About Us</h1>
            <p class="text" style="color: white;">
                FlyIndia’s mission is to become India’s preferred low-cost airline, delivering the lowest air fares with the highest customer value, to price sensitive customers.We hope to fulfill everyone’s dream of flying!

                With India's economic and business growth, the percentage of traveling population is burgeoning.More and more Indians are traveling for both business and pleasure and everyone needs to save both time and money.SpiceJet's vision is to address that and ensure that flying is for everyone.
                <br> 
                <b>The power to fly for everyone</b><br>
                With a dynamic fare structure, FlyIndia offers fares that are affordable and significantly lower than most airlines.With contemporary interiors, modern graphics and vibrant colours, FlyIndia is very much like today’s traveler - practical yet stylish.A SpiceJetter will feel ‘this is the smart, international way to travel, I've made the smart choice’.FlyIndia is committed to make sure you feel good at the end of a flight, arriving at your destination - fresh and on time.
                <br>
                <b>The power of performance.</b><br>
                From aircraft to crew and ground staff the focus is on performance.Each SpiceJet employee is groomed to be smart, friendly, efficient and well-informed, ensuring that any interaction will make you feel welcome and looked after.Experienced pilots, well-trained cabin crew will make every flight a comfortable one.The philosophy is no-frills but high-performance.
                <br>
                Welcome on board India's newest, smartest and most affordable low-fare airline. India, get ready for the power to fly!            
            </p>
        </div>
    </div>
</body>
