<mat-toolbar  class="mat-elevation-z6">
    <span> FlyIndia</span>
    <div class="spacer"></div>
    <a mat-button class="btn btn-primary bord"   (click) = goHome()>Home</a>
    <a mat-button class="btn btn-primary bord" (click) = aboutUs()  >About Us</a>
    <a mat-button class="btn btn-primary bord" (click) = contactUs()  >Contact Us</a>
    <a mat-button class="btn btn-primary bord"  (click) = goLogin()>Login</a>
    <a mat-raised-button class="btn btn-primary bord" color="accent"  (click) = register()>Sign Up</a>
</mat-toolbar>
<!-- <router-outlet></router-outlet> -->
