<app-home-dashboard></app-home-dashboard>
 <body>
	<br><br><br><br>
	<h1>Contact page</h1>
	<br><br><br><br>
	<div class="container">
	<h1 style="color: white; margin-left:20px;">Connect with Us </h1>
	<p style="color: white;">Hi Guys, We would love to respond to your queries and help you take a safe flight always.
	<br> Feel free to get in touch with us.</p>
	</div>
	<div class="contact-box">
	<div class="contact-left">
		<h2>Sent your Request</h2>
		<form>
		<div class="input-row">
			<div class="input-group">
			<label>Name </label>
			<input type="text" placeholder="John Amen">
			</div>
			<div class="input-group">
			<label>Phone </label>
			<input type="text" placeholder="+91 7235262243">
			</div>
		</div>
		<div class="input-row">
			<div class="input-group">
			<label>Email </label>
			<input type="email" placeholder="john@gmail.com">
			</div> 
			<div class="input-group">
			<label>Subject </label>
			<input type="email" placeholder="Write your views">
			</div> 
		</div>
			<label>Message </label>
			<textarea rows="3" placeholder="Your Message"></textarea>
			<button type="submit">Send</button>
		</form>
	</div>
	<div class="contact-right">
		<h2>Reach Us</h2>
		<table>
			<tr>
				<td>Email</td>
				<td>help.contact@flyindia.com</td>
			</tr><br>
			<tr>
				<td>Phone</td>
				<td>+91 9664112660</td>
			</tr><br>
			<tr>
				<td>Address</td>
				<td>Plot 501, 5th Floor, <br>FlyIndia Building 1, <br>
				Nariman Point, Seven Villa,<br>  
				Near Hiranandani Estates, <br>
				Mumbai 400068.
				</td>
			</tr>
		</table>
	</div>
	</div>
    <footer style="color: white;" class = "foot">
       <h2>&copy; R.S.V.P.M</h2>
    </footer> 
	</body>
