<body>
    <app-user-nav></app-user-nav>
    <img src="./assets/home2un.jpg"
        height="500px" width="100%" />
    <section class="p-5 text-center" style="background-color: lightgrey;">
        <div class="container">
            <h1 class="jumbotron-heading "><i>FlyIndia - India's No. 1 Airlines</i></h1>
            <p class="lead text-muted ">Welcome to FlyIndia! <br>
                With FlyIndia travelling is a world class experience.<br>
                with FlyIndia your vacations are just a trip away.<br>
                With FlyIndia you will experience what luxuary is.<br>
                With FlyIndia you will cherish Indian Hospitality.<br>
                With FlyIndia sky is not the limit its just a start for something great.<br>
                Always at your service to make your journey an unforgetable experience.
            </p>
        </div>
    </section>
    <div class="myClass1">
        <div class="container">
            <h1>Cities Open for Travel</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]"
                            style="height: 225px; width: 100%; display: block;" src="../../../assets/pune.jpg">
                        <div class="card-body">
                            <p class="card-text">Special Festive Offer: Visit Pune with FlyIndia at Exlusively @3500 and a round trip at just Rs 5999 only.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]"
                            style="height: 225px; width: 100%; display: block;" src="../../../assets/mumbai.jpg">
                        <div class="card-body">
                            <p class="card-text">Special Festive Offer: Visit Mumbai with FlyIndia at Exlusively @3490 and a round trip at just Rs 5990 only.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]"
                            style="height: 225px; width: 100%; display: block;" src="../../../assets/bangalore.jpg">
                        <div class="card-body">
                            <p class="card-text">Special Festive Offer: Visit Bangalore with FlyIndia at Exlusively @3300 and a round trip at just Rs 5500 only.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]"
                            style="height: 225px; width: 100%; display: block;" src="../../../assets/delhi.jpg">
                        <div class="card-body">
                            <p class="card-text">Special Festive Offer: Visit Delhi with FlyIndia at Exlusively @4000 and a round trip at just Rs 6000 only.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]"
                            style="height: 225px; width: 100%; display: block;" src="../../../assets/chennai.jpg">
                        <div class="card-body">
                            <p class="card-text">Special Festive Offer: Visit Chennai with FlyIndia at Exlusively @3000 and a round trip at just Rs 5500 only.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]"
                            style="height: 225px; width: 100%; display: block;" src="../../../assets/kolkata.jpg">
                        <div class="card-body">
                            <p class="card-text">Special Festive Offer: Visit Kolkata with FlyIndia at Exlusively @3000 and a round trip at just Rs 5200 only.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    <router-outlet></router-outlet>